<% layout('layouts/boilerplate')%>
<div class="container col-lg-8 offset-lg-2" id="mainContainer">
    <%- include('../partials/flash')%>
    <div class="my-5">
        <div class="d-flex justify-content-between align-items-start">
            <h1>Warranties</h1>
            <a class="btn btn-outline-primary" href="/entries/new">Add New</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Expiry Date</th>
                        <th>Store Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let entry of entries){ %>
                    <tr class="<% if(entry.dateExpired < new Date()){ %>text-secondary<% } %>">
                        <td class="py-3"><a href="/entries/<%- entry._id %>"><%= entry.productName %></a></td>
                        <td class="py-3"><%= dateFormat(entry.dateExpired, 'dd/mm/yyyy') %></td>
                        <td class="py-3 minWidthStoreName"><%= entry.storeName %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>