<% layout('layouts/boilerplate')%>
<div class="container col-lg-10 offset-lg-1" id="mainContainer">
    <%- include('../partials/flash')%>
    <div class="mt-5 mb-3">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="me-1"><%= entry.productName %></h1>
            <a class="btn btn-outline-primary ms-auto" href="/entries">Show&nbsp;All</a>
            <form class="ms-auto hideMobile" action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
            <a class="btn btn-primary ms-2 hideMobile" href="/entries/<%= entry._id %>/edit">Edit</a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item lead"><strong>Purchased Date:</strong>
                <%= dateFormat(entry.datePurchased, 'dd mmm yyyy') %>
            </li>
            <li class="list-group-item lead"><strong>Expiry Date:</strong>
                <%= dateFormat(entry.dateExpired, 'dd mmm yyyy') %>
            </li>
            <% if (entry.date12weekNotification || entry.date4weekNotification || entry.date1weekNotification) { %>
            <li class="list-group-item lead"><strong>Email Notifications:</strong>
                <div class="ms-1">
                    <% if(entry.date12weekNotification) { %>
                    <%= dateFormat(entry.date12weekNotification, 'dd mmm yyyy') %>
                    <span class="text-muted small">(12 weeks before)</span>
                    <% } %>
                </div>
                <div class="ms-1">
                    <% if(entry.date4weekNotification) { %>
                    <%= dateFormat(entry.date4weekNotification, 'dd mmm yyyy') %>
                    <span class="text-muted small">(4 weeks before)</span>
                    <% } %>
                </div>
                <div class="ms-1">
                    <% if(entry.date1weekNotification) { %>
                    <%= dateFormat(entry.date1weekNotification, 'dd mmm yyyy') %>
                    <span class="text-muted small">(1 week before)</span>
                    <% } %>
                </div>
            </li>
            <% } %>
            <li class="list-group-item lead"><strong>Store Name:</strong> <%= entry.storeName %></li>
            <% if (entry.additionalComment) { %>
            <li class="list-group-item lead"><strong class="d-block">Additional
                    Comment:</strong>
                <div class="ms-1"><%- replaceLinks(entry.additionalComment).split('\n').join('<br />') %></div>
            </li>
            <% } %>
        </ul>
        <div class="mb-4 mt-1 justify-content-start showMobile">
            <form class="w-100" action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger d-inline w-100">Delete</button>
            </form>
            <a class="btn btn-primary ms-2 w-100" href="/entries/<%= entry._id %>/edit">Edit</a>
        </div>
        <h2 class='mt-3'>Attachments</h2>
        <div>
            <form id="fileForm" action="/entries/<%= entry._id %>/files">
                <label for="file" class="form-label lead">Upload a file (image or pdf, max 10 MB):</label>
                <input type="file" class="form-control" id="file" name="file" required accept="image/*,application/pdf">
            </form>
        </div>

        <div class="table-responsive mt-3">
            <table class="table table-striped align-middle" id="files">
                <thead>
                    <tr>
                        <th>File Name
                            <div id="spinner" class="invisible spinner-border spinner-border-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </th>
                        <th class="onlyDesktop">Size</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let file of entry.files){ %>
                    <tr>
                        <td><a href="<%= file.url %>" target="_blank"><%= file.originalFileName %></a></td>
                        <td class="onlyDesktop"><%= (file.size/1024/1024).toFixed(2) %> MB</td>
                        <td class="text-end"><a href="#" rel="/entries/<%=entry._id%>/files/<%= file.storedFileName %>"
                                class="my-1 btn btn-danger btn-sm deleteFile">Delete</a></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>