<% layout('layouts/boilerplate')%>
<div class="my-5 col-md-6 offset-md-3">
    <div class="d-flex justify-content-between align-items-start">
        <h1>Profile</h1>
        <a class="btn btn-outline-primary" href="/entries">All Warranties</a>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item lead"><strong>Email:</strong> <%= currentUser.username %>
        </li>
        <li class="list-group-item lead"><strong>Number of Warranties:</strong> <%= numOfEntries %>
        </li>
        <li class="list-group-item lead"><strong>Number of Files Uploaded:</strong> <%= numOfFiles %>
        </li>
        <li class="list-group-item lead<%= ((storage/500) > 0.8)?' text-danger':'' %>" </li><strong>Disk Storage
                Used:</strong> <%= storage %>/500MB
        </li>

        <li class="list-group-item text-muted small fst-italic">
            Created: <%= currentUser.dateCreated.toLocaleString() %><br>Modified:
            <%= currentUser.dateModified.toLocaleString() %></p>
        </li>
    </ul>
    <a class="btn btn-primary" href="/user/edit">Edit Email</a>
</div>