<% layout('layouts/boilerplate')%>
<div class="my-5 col-md-6 offset-md-3">
    <div class="d-flex justify-content-between align-items-start">
        <h1>Profile</h1>
        <a class="btn btn-outline-primary" href="/entries">All Warranties</a>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item lead"><strong>Email:</strong> <%= currentUser.username %>
        </li>
        <li class="list-group-item lead"><strong>Number of Warranties:</strong> <%= numOfEntries %>
        </li>
        <li class="list-group-item lead"><strong>Number of Files:</strong> <%= numOfFiles %>
        </li>
        <li class="list-group-item lead<%= ((storage/500) > 0.8)?' text-danger':'' %>" </li><strong>Storage
                Used:</strong> <%= storage %>/500MB
        </li>
        <% if (currentUser.accessLevel === 'Admin') { %>
        <li class="list-group-item lead"><strong>Access Level:</strong> <%= currentUser.accessLevel %>
        </li>
        <% } %>
        <li class="list-group-item text-muted small fst-italic">
            Created: <%= currentUser.dateCreated.toLocaleString() %><br>
            Modified:<%= currentUser.dateModified.toLocaleString() %><br>
            Last Login: <%= currentUser.lastLoginDate?currentUser.lastLoginDate.toLocaleString():'N/A' %>
        </li>
    </ul>
    <a class="btn btn-primary mt-2" href="/user/edit">Edit Email</a>
    <% if (currentUser.accessLevel === 'Admin') { %>
    <h2 class="mt-5">All Users Stats</h2>
    <ul class="list-group list-group-flush">

        <li class="list-group-item lead"><strong>Number of All Users:</strong> <%= numOfUsers %>
        </li>
        <li class="list-group-item lead"><strong>Number of All Warranties:</strong> <%= numOfAllEntries %>
        </li>
        <li class="list-group-item lead"><strong>Number of All Files:</strong> <%= numOfAllFiles %>
        </li>
        <li class="list-group-item lead"><strong>All Storage Used:</strong> <%= allStorage %>MB
        </li>

    </ul>
    <% } %>
</div>